/*Archivo SCSS con  Funciones Border-radius y Box-shadow*/


/* Funciones BORDER-RADIUS */


/*Todos los Bordes*/
@mixin border-radius($valor) {
  -moz-border-radius: $valor;
  -webkit-border-radius: $valor;
  border-radius: $valor;
}


/*Borde Superior Izquierdo*/
@mixin border-top-left-radius($valor) {
  -moz-border-top-left-radius: $valor;
  -webkit-border-top-left-radius: $valor;
  border-top-left-radius: $valor;
}

/*Borde Superior Derecho*/
@mixin border-top-right-radius($valor) {
  -moz-border-top-right-radius: $valor;
  -webkit-border-top-right-radius: $valor;
  border-top-right-radius: $valor;
}

/*Borde Inferior Izquierdo*/
@mixin border-bottom-left-radius($valor) {
  -moz-border-bottom-left-radius: $valor;
  -webkit-border-bottom-left-radius: $valor;
  border-bottom-left-radius: $valor;
}

/*Borde Inferior Derecho*/
@mixin border-bottom-right-radius($valor) {
  -moz-border-bottom-right-radius: $valor;
  -webkit-border-bottom-right-radius: $valor;
  border-bottom-right-radius: $valor;
}



/* Funcion BOX-SHADOW */

/* Externo */
@mixin box-shadow($horizontal, $vertical, $blur, $spread, $color) {
  -moz-box-shadow: $horizontal, $vertical, $blur, $spread, $color;
  -webkit-box-shadow: $horizontal, $vertical, $blur, $spread, $color;
  box-shadow:$horizontal, $vertical, $blur, $spread, $color;
}

/* Interno */
@mixin box-shadow-inset($horizontal, $vertical, $blur, $spread, $color) {
  -moz-box-shadow: inset $horizontal, $vertical, $blur, $spread, $color;
  -webkit-box-shadow:inset $horizontal, $vertical, $blur, $spread, $color;
  box-shadow: inset $horizontal, $vertical, $blur, $spread, $color;
}



/* funcion para generar border radius*/

@mixin border-radius($top_left,$top_right:"false",$bottom_right:"false",$bottom_left:"false"){
  @if $top_right=="false" &&  $bottom_right=="false" && $bottom_left=="false"{
    -moz-border-radius: $top_left;
    -webkit-border-radius: $top_left;
    border-radius: $top_left;  
  }@else if $top_right<>" false"&&  $bottom_right=="false" &&$bottom_left=="false"{
    -moz-border-radius: $top_left $top_left $top_right $top_right;
    -webkit-border-radius: $top_left $top_left $top_right $top_right;
    border-radius: $top_left $top_left $top_right $top_right;
  }@else if $top_right<>"false" && $bottom_right<>"false" && $bottom_left=="false"{
    -moz-border-radius: $top_left $top_right $bottom_right $top_right;
    -webkit-border-radius: $top_left $top_right $bottom_right $top_right;
    border-radius:$top_left $top_right $bottom_right $top_right;
  }@else{
    -moz-border-radius: $top_left $top_right $bottom_right $bottom_left;
    -webkit-border-radius:$top_left $top_right $bottom_right $bottom_left;
    border-radius:$top_left $top_right $bottom_right $bottom_left;
  }
}

@mixin box-shadow ($horizontal,$vertical:"false", $blur:"false", $spread:"false" $color:#999, $inset:"false"){
  @if $vertical<> "false" && $blur=="false" && $spread=="false" && $inset=="false"{
    -moz-box-shadow: $horizontal $vertical $color;
    -webkit-box-shadow: $horizontal $vertical $color;
    box-shadow:$horizontal $vertical $color;
  }else if $vertical<> "false" && $blur<> "false" && $spread=="false" && $inset=="false"{
    -moz-box-shadow: $horizontal $vertical $blur $color;
    -webkit-box-shadow: $horizontal $vertical $blur $color;
    box-shadow:$horizontal $vertical $blur $color;
}